
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@font-face {
  font-family: HelveticaNeue;
  src: url(./HelveticaNeue.ttc);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: HelveticaNeue !important;
  background-color: #EBEBEB;
}

button {
  font-weight: 700 !important;
  font-size: "20px" !important
}

form {
  background-color: white;
  border-radius: 8px;
  padding: 40px;
}

.App {
  text-align: center;
  max-width: 100vw;
  overflow: hidden;
  font-family: HelveticaNeue;

}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2 {
  font-size: 13px;
  font-weight: 700;
}

hr { 
    background-color: black !important;
    border: 0 none !important;
    color: black !important;
    height: 3px !important;
}

i {
  font-size: 30px;
}

.App-link {
  color: #61dafb;
}

input[type="file"] {
  display: none;
}

input {
  border-color: #4D9AC3 !important
}

i {
  color: green !important;
  font-size: "14px" !important;
  margin: "10px" !important;
  color: "#BED918" !important;
}

.file-form {
  border: 2px dashed #4386A9;
  border-radius: 8px;
  padding: 8vw;
}

.list-container {
  width: 40%;
  min-height: 200px;
  height: auto;
  min-width: 350px;
}

span {
  font-weight: 400;
  color: #797979;
  
}

.user {
  width: 30%;
  padding: 10px;
  margin-left: 10px;
}

.laptop {
  width: 25%;
}

@media only screen and (max-width: 800px) { 
  .user-image {
    width: 100%;
  }

  .details {
    width: 40%;
  }

}

@media only screen and (max-width: 500px) {
    .laptop {
      width: auto;
    }
}

@media only screen and (max-width: 400px) {
    .details-container .text-start {
      padding: 0 !important;
      margin: 0 !important;
    }

    .details-container .row {
      margin: 0 !important;
    }

    .success-row {
      width: 320px !important;
      height: auto;
    }

    .homepage .btn {
      width: 280px !important;
      height: 50px;
      font-size: 13px !important;
    }

    .homepage-img {
      width: 100%;
    }

    .homepage-container {
      padding: 0;
      margin: 0;
      padding-right: 60px;
    }

    .employee-container .form-group {
        width: 100% !important;
    }

    .laptop-container .form-group {
      width: 100%;
    }

}



p {
  font-weight: 500;
  color: #2E2E2E;
}

@media only screen and (max-width: 900px)  {
  .list-container {
    width: auto;
    height: auto;
  }

}

.btn{
transition: background-color 0.3s !important;
}

.btn:hover {
  background-color: #317AD0 !important;
}

i:hover {
  opacity: 0.4;
}

i {
  transition: opacity 0.2s;
}


.error{
  color: red !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
